<div ng-controller="infoCtrl">
  <ion-view title="Información de Usuario">
    <ion-content>

      <div class="row-bottom">
        <label class="item item-avatar">
          <img src="../img/person.png">
          <span class="input-label">Usuario:</span>
          <h2>{{usuario.strNombres}} {{usuario.strApellido1}}</h2>
        </label>
      </div>
        <div class="row">
          <div class="col-50">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Id Empresa:</span>
              <h3>{{usuario.strIdEmpresa}}</h3>
            </label>
          </div>
          <div class="col-50">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Id Usuario</span>
              <h3>{{usuario.strIdUsuario}}</h3>
            </label>
          </div>
        </div>


    </ion-content>
  </ion-view>
</div>
